<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/img/favicon/apple-touch-icon.png?v={{ site.favicon_id }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/img/favicon/favicon-32x32.png?v={{ site.favicon_id }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/img/favicon/favicon-16x16.png?v={{ site.favicon_id }}">
<link rel="manifest" href="{{ site.baseurl }}/img/favicon/site.webmanifest?v={{ site.favicon_id }}">
<link rel="mask-icon" href="{{ site.baseurl }}/img/favicon/safari-pinned-tab.svg?v={{ site.favicon_id }}" color="#5bbad5">
<link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon/favicon.ico?v={{ site.favicon_id }}">
<meta name="apple-mobile-web-app-title" content="MU G&amp;G">
<meta name="application-name" content="MU G&amp;G">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="msapplication-config" content="{{ site.baseurl }}/img/favicon/browserconfig.xml?v={{ site.favicon_id }}">
<meta name="theme-color" content="#ffffff">